*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#191919 ;
}

@font-face {
    font-family: "Tango Sans" ;
    src: url(TangoSans.ttf);
}

.cabeçalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background-color: #ff0400;
}

#texto {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-family: "Tango Sans" ;
    margin-top: 0.2%;
}

a{
    text-decoration:none;
    color: #000000;
}

.links h2 {
    position: absolute;
    color: #ffffff;
    margin: 3px;
    top: 50px;
    left: 40%;
    font-size: 140%;
    font-family: "Tango Sans" ;
   
}

.links h3 {
    position: absolute;
    color: #ffffff;
    margin: 3px;
    top: 50px;
    left: 52%;
    font-size: 140%;
    font-family: "Tango Sans" ;
}

#line {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff0400;
    text-decoration: none;
}


#imagem_GG {
    position: absolute;
    border-radius: 1000px;
    width: 30%;
    height: 60%;

    left: 240px;
    margin-top: 10%;
   
}

.texto1 {
    position:absolute;
    width: 40%;
    height: 45%;

    left: 840px;
    margin-top: 14.4%;

    padding-inline: 3%;
    padding-top: 2%;
    padding-right: 3%;
    padding-bottom: 3%;

    text-align: justify;
    border-radius: 30px;
    background-color: #404040;
}

.texto1 p {
    position: relative;
    color: #ffffff;
    font-size: 140%;
    line-height: 40px;
    font-family: "Tango Sans" ;
}